<mat-drawer-container>
          <!-- <mat-drawer mode="side" opened="true"> -->


            <!-- in the previous case side bar was always open...now we open the sidebar based on condition -->
            <mat-drawer mode="side" [opened]="sideBarOpen">

                    <app-sidenav></app-sidenav>       
            

          </mat-drawer>  

          <mat-drawer-content>

                   
                    <!-- In the header when icon is clicked sidebar should open and close -->
                    <app-header (toggleSidebarForMe)="sidebarToggler()"></app-header>
                    <router-outlet></router-outlet>

          </mat-drawer-content>
</mat-drawer-container>