


<mat-nav-list>
    <div class="logo py-4">
        
        <img src="../assets/Eldiablo.png" alt="CompanyLogo">
    </div>


    <mat-divider></mat-divider>
    


    <h2 matSubheader class="mt-2">Applications</h2>


    <a mat-list-item routerLink="/AdminHome/FoodItem" routerLinkActive="list-item-active"><mat-icon>home</mat-icon> Food Menu</a>
    <a mat-list-item routerLink="/AdminHome/AddItem" routerLinkActive="list-item-active"><mat-icon>note_add</mat-icon> Add Item</a>
    <a mat-list-item routerLink="/AdminHome/AddSell" routerLinkActive="list-item-active"><mat-icon>shopping_cart</mat-icon> Add Sell</a>
    <a mat-list-item routerLink="/AdminHome/SellReport" routerLinkActive="list-item-active"><mat-icon>description</mat-icon> Sell Report</a>
    <a mat-list-item routerLink="/AdminHome/Logout" routerLinkActive="list-item-active"><mat-icon>exit_to_app</mat-icon> Logout</a>
    
   
</mat-nav-list>